body {
    background-image: url('https://wow.zamimg.com/uploads/blog/images/41221-the-unanswered-distress-call-in-azj-kahet-story-spoilers.jpg');
    /*background-image: url('https://warcraft.wiki.gg/images/thumb/b/b3/Azj-Kahet.jpg/1200px-Azj-Kahet.jpg');*/
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}