* {
    margin: 0;
    padding: 0;
}


h1 {
    padding: 30px 30px 30px 30px;
    text-align: center;
    color: white;
    font-size: 50px;
    backdrop-filter: blur(8px);

}

h2 {
    padding-bottom: 15px;
    font-size: 35px
}

nav {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color: black;
}

header {
    padding: 105px 30px 105px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

nav ul {
    display: flex;
}

nav li {
    list-style: none;

}

@media only screen and (max-width: 800px) {
    nav {
        display: block;
        text-align: center;
    }

    nav ul {
        display: block;
    }
}

/*Home page*/

.block_we {
    display: flex;
    margin-top: 10px;

}

.img_we {
    width: 74%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.img_we img {
    width: 100%;
    height: auto;
}


.we_text {
    font-size: 20px;
    font-weight: 100;
    width: 50%;
    height: auto;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    position: relative;
}

.we_text p {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    .block_we {
        display: block;
    }

    .img_we {
        width: 100%;
    }

    .we_text {
        width: 80%;
    }

    .we_text h2 {
        text-align: center;
    }
}

.block_menu {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
}

.img_menu {
    width: 74%;
    height: auto;

}

.img_menu img {
    width: 100%;
    height: auto;
}

.menu_text {
    font-size: 20px;
    font-weight: 100;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    /*padding: 100px 350px 0 100px;*/
    width: 40%;
}

.menu_text p {
    width: 100%;
    height: auto;
}

.menu_text a {
    text-decoration: none;
    /*font-family:url("fonts/bubbly_3/Bubbly letters.jpg");*/
}


@media only screen and (max-width: 800px) {
    .block_menu {
        display: block;
    }

    .img_menu {
        width: 100%;
    }

    .menu_text {
        width: 80%;
    }

    .menu_text h2 {
        text-align: center;
    }

}

.block_gallery {
    text-align: center;
}

.block_gallery img {
    background-color: darkgray;
    width: 200px;
    height: 200px;

}

.bottom_footer p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 50px 0;
    margin: 0;
    position: relative;
}


/*Menu page*/

.sec_menu {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 100%;
    /*text-align: center;*/
    flex-wrap: wrap;
    align-content: stretch;

}


.dish {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: auto;
    border: 2px solid #a4a4a4;
    border-radius: 5px;
    padding: 2%;
}


.dish:hover {
    transition-duration: 0.4s;
    background-color: #bebebe;
}

.dish_img{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: white;

}

.dish_img img {
    width: 100%;
    height: auto;

}

.dish h2{
    text-align: center;
}

.dish ul{
    margin-left: 20px;
}

.dish p {
    width: 100%;
    text-align: left;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.dish_list{

}

@media only screen and (max-width: 800px) {
    .sec_menu {
        display: block;
    }

    .dish {
        width: 80%;
        padding: 5%;
    }
}


/*Form page*/

.sec_form {
    display: flex;
}

.form_order {
    border: 3px solid #bbbbbb;
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.order_h2 {
    text-align: center;
}

.form_input {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: none;
    border-bottom: 1px solid #333333;
    width: 45%;
}

.email_input {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: none;
    border-bottom: 1px solid #333333;
    width: 35%;
}


.text_input {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: 1px solid rgba(51, 51, 51, 0.39);
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #9a9a9a;
}

.button:hover {
    background-color: #9a9a9a;
}


@media only screen and (max-width: 800px) {
    .sec_form {
        display: block;
    }

    .name_input, .email_input, .text_input {
        width: 90%;
    }

    .form_order {
        width: 80%;
        text-align: left;
        padding-left: 5%;
    }

}


/*Contact page*/

.sec_cont {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

}


.cont_me {
    display: flex;
    flex-direction: row;
    border: 1px solid #545454;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-evenly;

}

.text_cont h3 {
    font-size: 35px;
    padding-bottom: 5px;
}

.text_cont {
    width: 50%;
    padding-top: 5px;
    margin-left: 10px;
    align-content: center;

}

.text_cont p {
    width: 100%;
    height: auto;
}


.img_cont {
    width: 50%;
    height: auto;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 5px;
}

.img_cont img {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 800px) {
    .sec_cont {
        display: block;
    }

    .text_cont {
        width: 100%;
    }

    .cont_me {
        width: 80%;
        display: block;
    }

}