* {
    margin: 0;
    padding: 0;
}

/*Home page*/

h1 {
    padding: 30px 30px 30px 30px;
    text-align: center;
    color: white;
    font-size: 50px;
    backdrop-filter: blur(8px);

}

h2 {
    padding-bottom: 15px;
    font-size: 35px
}

nav {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color: black;
}

header {
    padding: 105px 30px 105px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

ul {
    display: flex;
}

li {
    list-style: none;

}

@media only screen and (max-width: 600px) {
    nav {
        display: block;
        text-align: center;
    }

    ul {
        display: block;
    }
}


.block_we {
    display: flex;
    margin-top: 10px;

}

.img_we {
    width: 74%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.img_we img {
    width: 100%;
    height: auto;
}


.we_text {
    font-size: 20px;
    font-weight: 100;
    width: 50%;
    height: auto;
    margin-left: 10%;
    margin-top: 30px;
    margin-right: 10%;
    position: relative;
}

.we_text p {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .block_we {
        display: block;
    }

    .img_we {
        width: 100%;
    }

    .we_text {
        width: 80%;
    }

    .we_text h2 {
        text-align: center;
    }
}

.block_menu {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
}

.img_menu {
    width: 74%;
    height: auto;

}

.img_menu img {
    width: 100%;
    height: auto;
}

.menu_text {
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    /*padding: 100px 350px 0 100px;*/
    width: 40%;
}

.menu_text p {
    width: 100%;
    height: auto;
}

.menu_text a {
    text-decoration: none;
    font-family: "JetBrains Mono Medium", fantasy;
}


@media only screen and (max-width: 600px) {
    .block_menu {
        display: block;
    }

    .img_menu {
        width: 100%;
    }

    .menu_text {
        width: 80%;
    }

    .menu_text h2 {
        text-align: center;
    }

}

.block_gallery {
    text-align: center;
}

.block_gallery img {
    background-color: darkgray;
    width: 200px;
    height: 200px;

}

.bottom_footer p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 50px 0;
    margin: 0;
    position: relative;
}


/*Menu page*/

.sec_menu {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    align-content: stretch;

}


.dish {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: auto;
    border: 3px solid #bbbbbb;
    border-radius: 10px;
    text-align: center;
    padding: 30px 30px 30px 30px;
}

.dish img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}

.dish p {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    .sec_menu {
        display: block;
    }
    .dish {
        width: 80%;
    }
}


/*Form page*/

.sec_form {
    display: flex;
}

.form_order {
    border: 3px solid #bbbbbb;
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.first_name_input{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: none;
    border-bottom: 1px solid #333333;
    width: 35%;
}
.last_name_input{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: none;
    border-bottom: 1px solid #333333;
    width: 35%;
}

.email_input{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: none;
    border-bottom: 1px solid #333333;
    width: 35%;
}


textarea {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border: 1px solid rgba(51, 51, 51, 0.39);
    width: 35%;
}

.yes_input{

}

#nocheck{

}



@media only screen and (max-width: 600px) {
    .sec_form {
        display: block;
    }

    .form_order {
        width: 100%;
    }

}


/*Contact page*/

.sec_cont {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

}


.cont_me {
    display: flex;
    flex-direction: row;
    border: 1px solid #545454;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-evenly;

}

.text_cont h3 {
    font-size: 35px;
    padding-bottom: 5px;
}

.text_cont {
    width: 50%;
    padding-top: 5px;
    align-content: center;

}

.text_cont p {
    width: 100%;
    height: auto;
}


.img_cont {
    width: 50%;
    height: auto;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 5px;
}

.img_cont img {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 600px) {
    .sec_cont {
        display: block;
    }

    .cont_me {
        width: 80%;
        display: flex;
    }

}